
@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Thin.ttf);
    font-weight: 200; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: 300; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    font-weight: 400; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Medium.ttf);
    font-weight: 500; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Bold.ttf);
    font-weight: 700; }

* { 
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #EEEEEE;
    display: inline-block;
    width: 100%;
    font-family: Roboto, sans-serif;
}
body a{
    text-decoration: none;
}

div{
    display: inline-block;
    width: 100%;
    float: left;
}

.top{
    height: 45px;
    background-color: #666666;
    position: fixed;
}

.top-left{
    width: 18%;
    height: 100%;
    border-right: 1px solid #616161;
    color: white;
    background-color: #555555;

}

.top-left-logo {
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    line-height: 46px;
    border-bottom: 3px solid #08aeff;
}

.top-center{
    width: auto;
    height: 100%;

}
.top-menu{
    display: inline-block;
    height: 100%;
}
.top-menu li{
    display: inline-block;
    float: left;
    height: 100%;
}

.top-menu li a{
    width: auto;
    padding: 12px 21px 15px 21px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    height: 100%;
    display: inline-block;
}

.top-menu li a:hover, .top-menu-li-a{
    background-color: #009be6;
}

.top-menu-a{
    background-color: #009be6;
}

.top-menu li a sup {
    background: #FF6666;
    padding: 2px 1px 1px 0px;
    font-size: 12px;
    border-radius: 10px;
    line-height: 15px;
    min-width: 18px;
    display: inline-block;
    height: 18px;
    text-align: center;
    float: right;
    margin: 2px 0 0 5px;
}


.left{
    background-color: #666666;
    height: 100%;
    width: 18%;
    position: fixed;
    color: white;
    margin-top: 45px;
}

.middle-center{
    margin-left: 18%;
    width: 82%;
    margin-top: 85px;
}

.m-left-name {
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #737373;
    background-color: rgb(98, 98, 98);
    font-size: 18px;
    line-height: 26px;
    padding-top: 12px;
}

.left-name{
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #737373;
    background-color: rgb(98, 98, 98);
    font-size: 18px;
    line-height: 26px;
    padding-top: 12px;
}

ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.m-items {
    display: block;
    color: #ffffff;
    padding: 10px 15px 10px 20px;
    border-left: 3px solid transparent;
    position: relative;
    border-bottom: 1px solid #5E5E5E;
}

.m-items:hover, .m-items-a {
    border-left: 3px solid #009EFF;
    background-color: #7E7C7C;
}

.left-menu{
    display: inline-block;
    width: 100%;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #eeeeee;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
    top: 9px;
}

.top-2 {
    height: 39px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.14);
    background-color: #fbfbfb;
    padding-left: 2px;
    margin-left: 18%;
    width: 82%;
    display: inline-block;
    float: left;
}

.top-2-menu {
    width: auto;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 15px;
    color: #616161;
    display: inline-block;
    float: left;
}

.top-2-menu:hover, .top-2-menu-a{
    border-bottom: 3px solid #34beff;
    padding: 10px 16px 8px 16px;
}
.datatable{
    margin: 10px 1% 18px 1%;
    cursor: default;
    table-layout: auto;
    height: 80%;
    width: 98%;
}

th{
    text-align: center;
    background-color: #8E8E8E;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 24px;
    padding: 2px 15px;
}

.table-1{
    background-color: white;
    cursor: default;
    table-layout: auto;
    border-collapse:collapse;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.14);
}

td{
    border: 1px solid #E7E7E7;
    white-space: nowrap;
    padding: 4px;
    font-size: 15px;
    text-align: center;
}

.m-center-cap{
    font-size: 17px;
    padding: 15px 15px 0px 21px;
    font-weight: 500;
    color: #5f5f5f;
}
.m-center-content{
    display: none;
}

.top-2-menu sup, .left-menu sup {
    background: #FF6666;
    padding: 2px 1px 1px 0px;
    font-size: 12px;
    border-radius: 10px;
    line-height: 14px;
    min-width: 17px;
    display: inline-block;
    height: 17px;
    text-align: center;
    float: right;
    color: #fff;
    margin: 0px 4px 0 7px;
}


.sticky-cont {
    overflow: auto;
    max-height: 100%;
    min-height: 250px;
}

.sticky-headers {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    display: inline-block;
    height: 59px;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
}

.sticky-table, .sticky-filters {
    display: inline-block;
    z-index: 998;
    position: absolute;
}

.sticky-headers .sticky-table div {
    text-align: center;
    background-color: #8E8E8E;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 24px;
    padding: 2px;
}

.sticky-filters {
    margin-top: 29px;
    border-bottom: 1px solid #E7E7E7;
    height: 27px;
}

.sticky-filters-list {
    position: absolute;
    z-index: 1000;
    display: inline-block;
    top: 59px;
}

.f-cont {
    display: none;
    position: absolute;
}

.f-m-cont {
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #555;
}

.f-m-cont li {
    border-bottom: 1px solid #f0f0f0;
    height: 27px;
}

.f-m-cont select {
    width: 100%;
    font-size: 15px;
    text-align-last: center;
    padding: 2px;
    height: 26px;
    border: 0;
    font-size: 15px;
    outline: 0;
}

.f-m-cont input[type="text"] {
    width: 100%;
    border: 0;
    padding: 2px;
    padding-right: 15px;
    font-size: 15px;
    height: 26px;
    font-weight: 500;
    outline: 0;
}

.datarow-cont {
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    width: auto;   
    max-width: 100%;   
}

.sticky-filters input {
    width: 100%;
    outline: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    border: 0;
    padding-left: 30px;
}

.sticky-headers .sticky-table div {
    text-align: center;
    background-color: #8E8E8E;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 24px;
    padding: 2px;
}

.sticky-footers .sticky-table div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: #F1F1F1;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 19px;
    height: 27px;
    padding: 2px;
    float: left;
}

.m-b-l-r-10 {
   /* margin: 0 10px 10px 10px;*/
}

.sticky-footers {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    display: inline-block;
    height: 25px;
    bottom: 16px;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    left: 0;
}
.sticky-filters > div {
    border-right: 1px solid #E7E7E7;
    height: 29px;
    position: relative;
}

.mdi {
    font-size: 21px;
    float: left;
}

.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.f-ico {
    display: inline-block;
    width: 30px;
    border-right: 1px solid #E7E7E7;
    height: 29px;
    position: absolute;
    left: 0;
    padding: 6px 5px 5px 5px;
    color: #8E8E8E;
    font-size: 19px;
}

input[type='text'] {
    text-align: center;
}

.excel-btn{
    margin: 10px 0;
}


















@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .middle-center{
        margin-left: 0;
        width: 100%;
    }


}