
@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Thin.ttf);
    font-weight: 200; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: 300; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    font-weight: 400; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Medium.ttf);
    font-weight: 500; }

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Bold.ttf) ;
    font-weight: 700; }

@font-face {
    font-family: "Material";
    src:local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/material/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype')
}

* { 
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #eceeef;
    display: inline-block;
    width: 100%;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body a{
    text-decoration: none;
}

i, .icons:before, .icons:after{
    font-family: "Material";
    font-style: normal;
    float: right;
    margin: -2px 0;
}

div{
    display: inline-block;
    width: 100%;
    float: left;
}

.top{
    height: 45px;
    background-color: #666666;
    position: fixed;
    z-index: 999;
}

.top-left{
    width: 18%;
    height: 100%;
    border-right: 1px solid #616161;
    color: white;
    background-color: #555555;

}

.top-left-logo {
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    line-height: 46px;
    border-bottom: 3px solid #08aeff;
}

.top-center{
    width: auto;
    height: 100%;

}
.top-menu{
    display: inline-block;
    height: 100%;
}
.top-menu li{
    display: inline-block;
    float: left;
    height: 100%;
}

.top-menu li a{
    width: auto;
    padding: 12px 21px 15px 21px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    height: 100%;
    display: inline-block;
}

.top-menu li a:hover, .top-menu-li-a{
    background-color: #009be6;
}

.top-menu-a{
    background-color: #009be6;
}

.top-menu li a sup {
    background: #FF6666;
    padding: 2px 1px 1px 0px;
    font-size: 12px;
    border-radius: 10px;
    line-height: 15px;
    min-width: 18px;
    display: inline-block;
    height: 18px;
    text-align: center;
    float: right;
    margin: 2px 0 0 5px;
}


.left{
    background-color: #666666;
    height: 100%;
    width: 18%;
    position: fixed;
    color: white;
    margin-top: 45px;
}

.middle-center{
    margin-left: 18%;
    width: 82%;
    margin-top: 85px;
}

.m-left-name {
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #737373;
    background-color: rgb(98, 98, 98);
    font-size: 18px;
    line-height: 26px;
    padding-top: 12px;
}

.left-name{
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #737373;
    background-color: rgb(98, 98, 98);
    font-size: 18px;
    line-height: 26px;
    padding-top: 12px;
}

ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.m-items {
    display: block;
    color: #ffffff;
    padding: 10px 15px 10px 20px;
    border-left: 3px solid transparent;
    position: relative;
    border-bottom: 1px solid #5E5E5E;
}

.m-items:hover, .m-items-a {
    border-left: 3px solid #009EFF;
    background-color: #7E7C7C;
}

.left-menu{
    display: inline-block;
    width: 100%;
    height: calc(100% - 125px);
    overflow: auto;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #eeeeee;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
}

.top-2 {
    height: 39px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    background-color: #fbfbfb;
    padding-left: 2px;
    margin-left: 18%;
    width: 82%;
    display: inline-block;
    float: left;
}

.top-2-menu {
    width: auto;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 15px;
    color: #616161;
    display: inline-block;
    float: left;
}

.top-2-menu:hover, .top-2-menu-a{
    border-bottom: 3px solid #34beff;
    padding: 10px 16px 8px 16px;
}
.datatable{
    margin: 10px 1% 18px 1%;
    cursor: default;
    table-layout: auto;
    height: calc(100% - 95px);
    width: 98%;
    overflow: auto;
}

th{
    text-align: center;
    background-color: #8E8E8E;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 18px;
    padding: 2px 15px;
}

.table-1{
    background-color: white;
    cursor: default;
    table-layout: auto;
    border-collapse:collapse;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.14);
}

td{
    border: 1px solid #E7E7E7;
    white-space: nowrap;
    padding: 4px;
    font-size: 15px;
    text-align: center;
}

.m-center-cap{
    font-size: 17px;
    padding: 15px 15px 0px 21px;
    font-weight: 500;
    color: #5f5f5f;
}
.m-center-content{
    display: none;
}

.top-2-menu sup, .left-menu sup {
    background: #FF6666;
    padding: 2px 1px 1px 0px;
    font-size: 12px;
    border-radius: 10px;
    line-height: 14px;
    min-width: 17px;
    display: inline-block;
    height: 17px;
    text-align: center;
    float: right;
    color: #fff;
    margin: 0px 4px 0 7px;
}


.sticky-cont {
    overflow: auto;
    max-height: 100%;
    min-height: 250px;
}

.sticky-headers {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    display: inline-block;
    height: 59px;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
}

.sticky-table, .sticky-filters {
    display: inline-block;
    z-index: 998;
    position: absolute;
}

.sticky-headers .sticky-table div {
    text-align: center;
    background-color: #8E8E8E;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 24px;
    padding: 2px;
}

.sticky-filters {
    margin-top: 29px;
    border-bottom: 1px solid #E7E7E7;
    height: 27px;
}

.sticky-filters-list {
    position: absolute;
    z-index: 1000;
    display: inline-block;
    top: 59px;
}

.f-cont {
    display: none;
    position: absolute;
}

.f-m-cont {
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #555;
}

.f-m-cont li {
    border-bottom: 1px solid #f0f0f0;
    height: 27px;
}

.f-m-cont select {
    width: 100%;
    font-size: 15px;
    text-align-last: center;
    padding: 2px;
    height: 26px;
    border: 0;
    font-size: 15px;
    outline: 0;
}

.f-m-cont input[type="text"] {
    width: 100%;
    border: 0;
    padding: 2px;
    padding-right: 15px;
    font-size: 15px;
    height: 26px;
    font-weight: 500;
    outline: 0;
}

.datarow-cont {
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    width: auto;   
    max-width: 100%;   
}

.sticky-filters input {
    width: 100%;
    outline: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    border: 0;
    padding-left: 30px;
}

.sticky-headers .sticky-table div {
    text-align: center;
    background-color: #8E8E8E;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 24px;
    padding: 2px;
}

.sticky-footers .sticky-table div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: #F1F1F1;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 19px;
    height: 27px;
    padding: 2px;
    float: left;
}

.m-b-l-r-10 {
   /* margin: 0 10px 10px 10px;*/
}

.sticky-footers {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    display: inline-block;
    height: 25px;
    bottom: 16px;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    left: 0;
}
.sticky-filters > div {
    border-right: 1px solid #E7E7E7;
    height: 29px;
    position: relative;
}

.mdi {
    font-size: 21px;
    float: left;
}

.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.f-ico {
    display: inline-block;
    width: 30px;
    border-right: 1px solid #E7E7E7;
    height: 29px;
    position: absolute;
    left: 0;
    padding: 6px 5px 5px 5px;
    color: #8E8E8E;
    font-size: 19px;
}

input[type='text'] {
    text-align: center;
}

.excel-btn{
    margin: 10px 0;
}

.center-box {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
}

.center-box-top{
    border-bottom: 1px solid #eee;
}

.center-box-cap {
    min-height: 46px;
    border-left: 5px solid transparent;
}

.c-box-cap-text {
    font-size: 16px;
    padding: 14px 10px 14px 7px;
    color: #505050;
    font-weight: 500;
    cursor: default;
    width: calc(100% - 52px);
    cursor: pointer;
}

.c-box-cap-text:hover{
    /*background-color: #fdfdfd;*/
    color: #0087e6;
}

.cap-sel {
    border-left: 5px solid #929292;
}

.cap-add {
    border-left: 5px solid #08c599;
}

.cap-upd {
    border-left: 5px solid #00acfd;
}

.cap-del {
    border-left: 5px solid #ff5c5c;
}


.center-wrap{
    width: 50%;
    margin-top: 20px;
    margin: 1.5%;
}

.center-box-cap-2 {
    height: 41px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.c-box-menu-item {
    display: inline-block;
    width: auto;
    padding: 10px 8px 9px 8px;
    cursor: pointer;
    font-size: 14px;
    color: #616161;
}

.c-box-menu-item:hover, .c-box-menu-item-a {
    border-bottom: 3px solid #34beff;
    padding-top: 11px;
    padding-bottom: 9px;
}

.tab-row {
    padding: 0 10px 0 12px;
    border-bottom: 1px solid #eee;
}

.tab-name {
    padding: 10px 5px 10px 12px;
    font-weight: 400;
    width: 35%;
    white-space: normal;
    text-align: left;
}

.tab-text {
    padding: 10px;
    line-height: 20px;
    outline: 0;
    width: 75%;
    border-left: 1px solid #eee;
    /*text-align: left;*/
}

.w-41p{
    width: 41%;
}

.table-box{
    width: 100%;
        border-collapse: collapse;
        border-style: hidden;
        table-layout: fixed;
}

.tab-name td {
    white-space: normal;
}

.center-box-bot{
    height: 60px;
    border-top: 1px solid #eee;
}

.center-box-btn, .center-box-msg{
    background-color: #fff;
}

.center-box-msg{
    border-top: 1px solid #eee;
    display: none;
}

.center-box-cont {
        background-color: #fafbfc;
}

.center-box-code {
       width: 32%;
       border-right: 1px solid #eee;
       height: 100%;
}


.listselectbox {
    position: relative;
    overflow: visible;
    outline: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}

.btn-select {
    width: 100%;
    outline: 0;
    padding: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.btn-code {
    background-color: #fff;
    padding: 8px 5px 8px 12px;
}

.dropdownlist {
    display: none;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    top: 34px;
    position: absolute;
    width: 100%;
    box-shadow: 1px 4px 6px 0px #ADADAD;
}

.textbox {
    width: 96%;
    margin-top: -1px;
    outline: 0;
    border: 1px solid #ececec;
    font-size: 15px;
    margin: 2%;
}

input[type='text'] {
    text-align: center;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.orig-list, .filtered-list {
    max-height: 300px;
    background-color: #ffffff;
    overflow: auto;
    margin: 0;
}


ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.listselectbox ul li {
    padding: 5px;
    cursor: pointer;
    display: list-item;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
}

.listselectbox ul li:hover, .listselectbox ul li:focus, .selected {
    background-color: #ebebeb;
}


.listselectbox-2 .btn-select {
    border: 1px solid #c7c7c7;
    padding: 3px 5px;
}

.btn-code.btn-select:hover {
    background-color: #f7f7f7;
}

.listselectbox-2 .dropdownlist{
    top: 28px;
}

.listselectbox-2 ul li {
    text-align: left;
}

.listrate .btn-select {
    border: 1px solid #c7c7c7;
    padding: 3px 5px;
    text-align: center;
    font-size: 15px;
}

.listrate ul li {
    text-align: center;
}

.listrate .dropdownlist{
    top: 28px;
}

.w-100{
    width: 100%;
}

.ac-btn-text{
    display: inline-block;
    width: 32%;
    padding: 21px 12px;
    border-right: 1px solid #eee;
}

.ac-btn-add, .ac-btn-edit, .ac-btn-del, .ac-btn-default{
    outline: none;
    display: inline-block;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.ac-btn-add{
    border: 1px solid #01a780;
    background: #18bb8e;
    background: -webkit-linear-gradient(top,#00b98e,#01a780);
}

.ac-btn-edit{
    border: 1px solid #4285f4;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}

.ac-btn-del{
    border: 1px solid #e02b18;
    background: #ff4e3c;
    background: -webkit-linear-gradient(top,#ff4e3c,#d61d1d);
}

.ac-btn-default{
    border: 1px solid #4285f4;
    background: #ffffff;
    border: 1px solid #c3c3c3;
    color: black;
}

.ac-btn-add:hover, .ac-btn-default:hover, .ac-btn-edit:hover, .ac-btn-del:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.ac-btn-add:active, .ac-btn-default:active, .ac-btn-edit:active, .ac-btn-del:active{
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
}

.ac-btns{
    width: 34%;
    text-align: center;
    padding: 14px 0;
}

.b-r-1{
    border-right: 1px solid #eee;
}

.b-l-1{
    border-left: 1px solid #eee;
}

.ac-btn-msg{
    width: 75%;
    padding: 7px 7px 7px 15px;
    text-align: center;
}

.ac-btn-msg-text{
    width: auto;
    margin-right: 15px;
    float: none;
}

.ac-btn-ok{
    border: 1px solid #4285f4;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    padding: 5px 21px;
    color: #fff;
    cursor: pointer;
    margin-top: -6px;
    margin-bottom: -6px;
}

.p-12{
    padding: 12px;
}

.k-table-1{
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
     float: none;
}

.k-table-1 .k-td-1{
    
}

.k-thead {display:table-header-group; vertical-align:middle; float: none;}
.k-tbody {display:table-row-group; vertical-align:middle; float: none;}
.k-tfoot {display:table-footer-group; vertical-align:middle; float: none;}
.k-tgroup {display: table-row-group; float: none;}

.k-tr{
    display: table-row;
    
    float: none;
}

.k-th{
    display: table-cell;
    text-align: center;
    background-color: #8E8E8E;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    line-height: 18px;
    padding: 2px 15px;
    
    float: none;
}

.k-td-1, .k-td-2, .k-td-3{
    display: table-cell;
    padding: 10px 5px 10px 12px;
    font-weight: 400;
    white-space: normal;
    text-align: left;
    border: 1px solid #E7E7E7;
    vertical-align: middle;
    float: none;
    border-bottom: 0;
    border-top: 0;
}

.k-td-1:hover{
    background-color: #eee;
}

.k-td-1{
    width: 30%;
    border-left: 0; 
}

.k-td-2{
    padding: 10px 12px;
    width: 70%;
    border-right: 0;
}

.k-td-3{
    padding: 10px 12px;
    width: 35%;
    border-right: 0;
}

.t-a-l{
    text-align: left;
}


.ic-add:before{
    content: 'add_circle';
    color:  #909090;
    font-size: 22px;
    margin: -2px 0px;
}



.ic-ar-down:before{
    content: '\E5C5';
    color: #666666;
    font-size: 29px;
    line-height: 21px;
    margin: 0px;
    float: right;
}


.box-child-btn{
    padding: 10px 5px 10px 12px;
    font-weight: 400;
    width: 35%;
    white-space: normal;
    text-align: left;
    cursor: pointer;
}

.box-child-btn:hover{
    background-color: #f7f7f7;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.box-child-btn:hover i:before{
    color: #00bb90;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.listselectbox .btn:after{
    font-family: "Material";
    font-style: normal;
    float: right;
    content: '\E5C5';
    color: #666666;
    font-size: 29px;
    line-height: 21px;
    margin: 0px;
    float: right;
    padding-right: 32px;
}

.box-menu{
    width: 51px;
    float: right;
    padding: 10px 12px;
    position: relative;
}

.box-menu:hover{
    background-color: #f7f7f7;
}

.box-menu .dropdown{
    display: none;
    position: absolute;
    top: 46px;
    right: 0;
    width: 145px;
    background-color: #fff;
    z-index: 100;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 4px 6px 0px #ADADAD
} 

.box-menu:hover .dropdown{
    display: inline-block;
    transition-delay: 500;
}


.ic-menu:before{
    content: '\E5D4';
    color:  #909090;
    font-size: 30px;
    margin: -2px 0px;
}

.b-item {
    padding: 8px 10px 8px 5px;
    cursor: pointer;
    border-left: 5px solid transparent; 
    font-size: 15px;
}

.b-item:hover{
    background-color: #f5f4f4;
}

.ic-menu-sel, .ic-menu-add, .ic-menu-upd, .ic-menu-del, .ic-menu-close{
    float: left;
    margin-right: 8px;
    
}

.item-sel:hover, .item-sel-a{
    border-left: 5px solid #505050; 
}

.item-add:hover, .item-add-a{
    border-left: 5px solid #08c599; 
}

.item-upd:hover, .item-upd-a{
    border-left: 5px solid #00acfd;
}

.item-del:hover, .item-del-a{
    border-left: 5px solid #ff5c5c;
}

.item-close:hover, .item-close-a{
    border-left: 5px solid #8500ff;
}

.ic-menu-sel:before{
    content: '\E5CA';
    color:  #676767;
    font-size: 24px;
    margin: -2px 0px;
    float: left;
}

.ic-menu-add:before{
    content: '\E145';
    color:  #676767;
    font-size: 24px;
    margin: -2px 0px;
    float: left;
}

.ic-menu-upd:before{
    content: '\E150';
    color: #676767;
    font-size: 21px;
    margin: 0px 0px;
    float: left;
    padding: 0px 0 0 2px;
}

.ic-menu-del:before{
    content: '\E15B';
    color:  #676767;
    font-size: 24px;
    margin: -2px 0px;
    float: left;
    padding-top: 2px;
}

.ic-menu-close:before{
    content: '\E14C';
    color:  #676767;
    font-size: 24px;
    margin: -2px 0px;
    float: left;
}

.btn-grid{
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #e6e6e6;
    width: 36px;
    cursor: pointer;
    border: 1px solid #c7c7c7;
    background-color: #ffffff;
}

.btn-grid:hover{
    background-color: #f7f7f7;
}


.btn-grid:after{
    content: '\E42A';
    color: #777777;
    font-size: 24px;
    float: right;
    line-height: 21px;
    padding: 6px 6px 4px 3px;
}

.dialog-box{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.fade-box{
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.center-d-box{
    height: calc(100% - 110px);
    margin-left: 19%;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 97px;
    box-shadow: 0 0 24px 9px rgba(0,0,0,0.20);
}

.center-child-box{
    margin: 0;
    width: 100%;
}
















@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .middle-center{
        margin-left: 0;
        width: 100%;
    }


}